Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t verbose --fix, prettier --write

chore(deps): update dependency typescript to v3.4.5
  package.json
Due: prettier --write

chore: refine settings
  .lintstagedrc.json
  package.json
  tsconfig.json
  wercker.yml
Due: prettier --write

chore: refine tslint settings and tsconfig
  tsconfig.json
  tslint.json
Due: prettier --write

fix: lint errors
  package.json
  src/popup.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

fix: lint errors
  .idea/misc.xml
  package.json
  src/PlantUmlEncoder.ts
  src/main.ts
  src/popup.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

add text capturer from code block of PlantUML
  src/main.ts
  src/text_capturer.ts
Due: tslint -p . -t verbose --fix

rename a file
  src/TextCapturer.ts
  src/main.ts
Due: tslint -p . -t verbose --fix

add text capturer from a file of PlantUML
  src/TextCapturer.ts
  src/main.ts
Due: tslint -p . -t verbose --fix

use let instead of var
  src/TextCapturer.ts
Due: tslint -p . -t verbose --fix

feat: add encoder converting UML text into image URL (#8)
  .idea/misc.xml
  package.json
  src/PlantUmlEncoder.ts
  src/main.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

feat: add text capturer from code blocks of PlantUML (#9)
  src/TextCapturer.ts
  src/main.ts
Due: tslint -p . -t verbose --fix

feat: add text capturer from a file of PlantUML (#10)
  src/TextCapturer.ts
  src/main.ts
Due: tslint -p . -t verbose --fix

feat : implement visualizer classes
  src/TextCapturer.ts
  src/Visualizer.ts
  src/main.ts
Due: tslint -p . -t verbose --fix

fix typo
  src/Visualizer.ts
  src/main.ts
Due: tslint -p . -t verbose --fix

add a access modifier
  src/Visualizer.ts
Due: tslint -p . -t verbose --fix

refactor: config files
  .huskyrc.json
  package.json
Due: prettier --write

fix: rename command name tslint* -> lint*
  package.json
  wercker.yml
Due: prettier --write

feat: refine prettier settings
  .lintstagedrc.json
  package.json
Due: prettier --write

refactor: rename renovate config file
  .renovaterc.json
Due: prettier --write

fix(deps): update dependency jquery to v3.4.1
  package.json
  yarn.lock
Due: prettier --write

build: tweak npm command
  package.json
Due: prettier --write

chore(deps): update dependency husky to v2.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency renovate-config-willbooster to v0.0.4
  package.json
  yarn.lock
Due: prettier --write

change code based on review
  src/Finder.ts
  src/Mutator.ts
  src/Visualizer.ts
  src/main.ts
Due: tslint -p . -t verbose --fix

change regex
  src/Finder.ts
Due: tslint -p . -t verbose --fix

build: refine build script
  .lintstagedrc.json
  package.json
Due: prettier --write

fix: LICENSE application
  NOTICE
Due: none

build: refine CI settings
  .circleci/config.yml
  wercker.yml
Due: prettier --write

build: refine CI settings
  .circleci/config.yml
Due: prettier --write

change initial element from text to image
  src/Mutator.ts
Due: tslint -p . -t verbose --fix

docs: add CircleCI badge
  README.md
Due: prettier --write

refactor: gitignore
  .gitignore
Due: none

changes based on review
  src/Finder.ts
  src/Mutator.ts
  src/main.ts
Due: tslint -p . -t verbose --fix

chore(deps): update dependency lint-staged to v8.1.6
  package.json
  yarn.lock
Due: prettier --write

changes based on review
  src/Finder.ts
  src/main.ts
Due: tslint -p . -t verbose --fix

fix typo
  src/main.ts
Due: tslint -p . -t verbose --fix

rename jquery variables
  src/Finder.ts
  src/Mutator.ts
Due: tslint -p . -t verbose --fix

Path conditions:
  tslint -p . -t verbose --fix: any of: {src,__tests__}/**/*.ts
  prettier --write: any of: ./**/*.{css,html,js,json,md,scss,yml}
