Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t verbose --fix, prettier --write

feat: implement code finders and a mutator (#17)
  src/Finder.ts
  src/Mutator.ts
  src/TextCapturer.ts
  src/main.ts
Due: tslint -p . -t verbose --fix

refactor: code
  .idea/plantuml-visualizer.iml
  src/Finder.ts
  src/Mutator.ts
  src/main.ts
  src/popup.html
  src/popup.ts
Due: tslint -p . -t verbose --fix, prettier --write

build: prepare for publishing this extension
  .gitignore
  manifest.json
  package.json
  puml-sample/class.pu
  src/main.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

docs: fix setup steps
  README.md
Due: prettier --write

docs: refine puml sample
  puml-sample/class.pu
Due: none

docs: add D class
  puml-sample/class.pu
Due: none

feat: mutate PlantUML texts when DOM changes
  README.md
  manifest.json
  package.json
  src/Finder.ts
  src/Mutator.ts
  src/PlantUmlEncoder.ts
  src/background.ts
  src/content_scripts.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

feat: mutate PlantUML texts when DOM changes (#23)
  README.md
  manifest.json
  package.json
  src/Finder.ts
  src/Mutator.ts
  src/PlantUmlEncoder.ts
  src/background.ts
  src/content_scripts.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

build: fix settings
  manifest.json
  package.json
Due: prettier --write

fix: analyze whole document when some nodes are added
  src/content_scripts.ts
Due: tslint -p . -t verbose --fix

fix: analyze whole document when some nodes are added (#28)
  src/content_scripts.ts
Due: tslint -p . -t verbose --fix

build: bump version to 0.1.1
  manifest.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

chore(deps): update dependency prettier to v1.17.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/chrome to v0.0.84
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v2.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/chrome to v0.0.85
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v8.1.7
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade dependencies
  yarn.lock
Due: none

chore(deps): update dependency @types/chrome to v0.0.86
  package.json
  yarn.lock
Due: prettier --write

feat: add on/off switcher
  manifest.json
  package.json
  src/background.ts
  src/content_scripts.ts
  src/popup.html
  src/popup.ts
Due: tslint -p . -t verbose --fix, prettier --write

rename plugin to extension
  src/background.ts
  src/content_scripts.ts
Due: tslint -p . -t verbose --fix

changes based on review
  src/background.ts
  src/content_scripts.ts
Due: tslint -p . -t verbose --fix

change command
  src/background.ts
  src/content_scripts.ts
Due: tslint -p . -t verbose --fix

chore(deps): update dependency tslint-microsoft-contrib to v6.2.0
  package.json
  yarn.lock
Due: prettier --write

feat: add on/off switcher (#35)
  manifest.json
  package.json
  src/background.ts
  src/content_scripts.ts
  src/popup.html
  src/popup.ts
Due: tslint -p . -t verbose --fix, prettier --write

perf: improve in monitoring mutations
  src/Constants.ts
  src/Finder.ts
  src/Mutator.ts
  src/background.ts
  src/content_scripts.ts
Due: tslint -p . -t verbose --fix

0.2.0
  manifest.json
  package.json
Due: prettier --write

show off badge when he extension is disabled
  src/background.ts
Due: tslint -p . -t verbose --fix

feat: show off badge when he extension is disabled (#38)
  src/background.ts
Due: tslint -p . -t verbose --fix

Path conditions:
  tslint -p . -t verbose --fix: any of: ./{src,__tests__}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
