Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t verbose --fix, prettier --write

chore(deps): update dependency prettier to v1.18.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v1.18.2
  package.json
  yarn.lock
Due: prettier --write

chore: bump version to 1.0.0
  manifest.json
  package.json
Due: prettier --write

chore: fix package command to create a zip file of source files.
  package.json
Due: prettier --write

chore(deps): update dependency husky to v2.4.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v3.5.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v8.2.1
  package.json
  yarn.lock
Due: prettier --write

build: employ eslint instead of tslint
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  package.json
  src/GitHubFinder.ts
  src/Mutator.ts
  src/PlantUmlEncoder.ts
  src/content_scripts.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

build: employ eslint instead of tslint (#58)
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  package.json
  src/GitHubFinder.ts
  src/Mutator.ts
  src/PlantUmlEncoder.ts
  src/content_scripts.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

build: change gitignore
  .gitignore
Due: none

enhance .gitignoe for Windows
  .gitignore
Due: none

build: refine gitignore (#59)
  .gitignore
Due: none

build: refine lint-staged settings
  .lintstagedrc.json
Due: prettier --write

chore(deps): update dependency @willbooster/eslint-config to v0.0.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/prettier-config to v0.0.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/renovate-config to v0.0.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/tsconfig to v0.0.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/eslint-config to v0.0.10
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/prettier-config to v0.0.10
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/renovate-config to v0.0.10
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/tsconfig to v0.0.10
  package.json
  yarn.lock
Due: prettier --write

Add support for generic pu/puml/plantuml files
  manifest.json
  src/GenericFinder.ts
  src/content_scripts.ts
Due: tslint -p . -t verbose --fix, prettier --write

chore(deps): update typescript-eslint monorepo to v1.11.0
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  tslint -p . -t verbose --fix: any of: ./{src,__tests__}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
